.search{
    position: relative;
    width: 250px;
    input{
        width: 100%;
        padding: 10px 40px 10px 10px;
        border: 1px solid #333;
        outline: none;
        
    }
    .searchIcon{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: #333;
    }
}